<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicio</title>
</head>
<body>
    <h1>BIENVENIDO A EL SISTEMA DE USUARIOS</h1>
    <hr>

    <b>Usuario: </b>{{user.nombres}} {{user.apellidos}}
    <hr>

    <ul>
        <li>
            <a href="http://">Cerrar Sesion</a>
        </li>

        <li>
            <a href="http://">Actualizar Datos</a>
        </li>

        <li>
            <a href="http://">Detalles del usuario</a>
        </li>
    </ul>
    <hr>
</body>
</html>